@font-face {
    font-family: 'Lato-Medium', sans-serif;
    src: url('/fonts/Lato-Medium.woff') format('woff'),
         url('/fonts/Lato-Medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular', sans-serif;
    src: url('/fonts/Lato-Regular.woff') format('woff'),
         url('/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    margin: auto;
    max-width: 360px;
    /* min-width: 360px; */
    font-family: 'Lato-Regular', sans-serif;
    font-weight:400 ;
    color: black;
}


.text {
    padding: 0;
    margin: 0;
    font-family: 'Lato-Regular', sans-serif;
    font-weight:400 ;
    color: black;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-logo-wrapper{
    margin: 24px 0px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-header-wrapper{
    margin: 0px 16px 22px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-header-text{
    font-family: 'Lato-Medium', sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.banner-buttons-wrapper{
    margin: 0px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button{
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 1px solid #0057FF;
    font-family: 'Lato-Medium', sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.banner-buttons-sign_up_button{
    background-color: #0057FF;
    
}

.banner-buttons-sign_in_button{
    color: #0057FF;
}

.banner-img-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-score-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #0057FF;
    gap: 32px;
    padding: 36px 0;
}


.score-header{
    font-family: 'Lato-Regular', sans-serif;
    font-weight:400 ;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.score-text{
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.last-messages-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 42px 16px 31px 16px;
}

.last-messages-header {
    font-size: 24px;
    margin: 0 0 24px 0;
    padding: 0;
}

.messages_list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.messages_list-message-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

.message-user_information_and_message_text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-user_information-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.message-user_information{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_information-user_name{
    font-size: 14px;
    color: #1D1E22;
    font-weight: bold;
}

.user_information-user_nickname {
    font-size: 14px;
    color: #ABACB1;

}

.message-time_ago {
    font-size: 10px;
    color: #ABACB1;
    text-align: right;
}

.message-content-text {
    font-size: 16px;
    color: #1D1E22;
}

.message-reactions-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 32px;
}

.message-reaction-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap: 12px;
}

.message-reactions-forwards-counter {
    font-size: 14px;
    color: #B1B1B1;
}

.message-reactions-likes-counter {
    font-size: 14px;
    color: #B1B1B1;
}

.message-reactions-sends-counter {
    font-size: 14px;
    color: #B1B1B1;
}

.message-user_avatar {
    width: 52px;
    height: 52px;
    border-radius: 35px;
}

.message-contetn-img {
    width: 260px;
    height: 171px;
    margin-top: 10px;
}


.blackout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}


.authorization {
    display: none;
    padding: 52px 16px 16px 16px;
    position: sticky;
    bottom: 0;
    z-index:10000;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.authorization-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
}

.registration {
    display: none;
    padding: 52px 16px 16px 16px;
    position: sticky;
    bottom: 0;
    z-index:10000;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.registration-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-input {
    padding: 16px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
}

.focus{
 border: 1px solid #FF97C3;
 background-color:#FFDEEC ; 
}

.error-text {
    display: none;
    font-size: 9px;
    margin: -4px 0 0 16px;
    color: #E40060;
}

.registration-header {
    margin: 0 0 23px;
}

.authorization-header {
    margin: 0 0 23px;
}

.registration-form-button {
    background-color: #0057FF;
}

.authorization-form-button {
    background-color: #0057FF;
}

.registration-header {
    font-weight: 800;
    font-style: 24px;
    line-height: 28px;
}

.message-preloader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message-preloader-gif {
    width: 50px;
    height: 50px;
}