@font-face {
    font-family: 'Lato-Medium', sans-serif;
    src: url('/fonts/Lato-Medium.woff') format('woff'),
         url('/fonts/Lato-Medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular', sans-serif;
    src: url('/fonts/Lato-Regular.woff') format('woff'),
         url('/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    margin: auto;
    max-width: 360px;
    /* min-width: 360px; */
    font-family: 'Lato-Regular', sans-serif;
    font-weight:400 ;
    color: black;
}


.text {
    padding: 0;
    margin: 0;
    font-family: 'Lato-Regular', sans-serif;
    font-weight:400 ;
    color: black;
}
